<nav class="p-d-flex p-jc-center p-ai-center">
    <ul class="nav-list">
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/Registro', 'Cita', 'Mascota']">Registro de Cita de Mascota</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/Registro', 'Usuario']">Registro de Usuario</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/Inicio-Sesion']">Inicio de Sesión</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a [routerLink]="['/Registro', 'Medicamento']">Registro de Medicamento</a>
      </li>
    </ul>
  </nav>
  